/* часть 1 */
* {
  color: #555
} 
h1{
    font-size: 1.5em;
    text-shadow: 2px 1px 10px;
}
/*h2,h3,h4,h5,h6{
  color: #333
}
header{
  background: #243360
}
nav a{
  color: #fff;
}
.logo{
  color: #fff
}
.logo > span, a{
  color: #d65f04
}
#banner{
  background: #243360;  
}
#banner * {
  color: #fff
}
.download{
  background: rgb(67, 186, 63);
}

/* часть 2*/
* {
  font-family: Arial, sans-serif;
  /*font-family: 'Lobster', cursive;*/
}
.logo{
  text-decoration: none
}
nav a:link   { color: #d65f04 }
nav a:visited{ color: #f98f37 }
nav a:active { color: #d6ac04 }
nav a{
  text-decoration: none
}
nav a:hover{ 
  color:#d6ac04;
  background: #5a73bc;
  text-decoration: underline
}

/*#promotion h3{
  font-weight: 100;
  font-style: italic;
  font-variant: small-caps
}
#banner h1, .lead, h2{
  text-align: center
}
h1{
   
}
#banner blockquote{
  letter-spacing: 3px;
  word-spacing: 5px;
}

/* часть 3 */
/*#banner{
  /*background-image: url(../img/background.jpg);*/
}

/*#reviews,#banner{
  background-color: #243360;
}
#reviews * {
  color: #fff
}

#reviews figure, 
#reviews p
{
  text-align:center
}

#reviews img{
  width: 100px;
  border: 5px solid #fff;
  border-radius: 100px;
  opacity: 0.5
}
#reviews img:hover{
  /*width: 200px;*/
  opacity: 1
}

/*Работа с меню*/
header ul{
  list-style-type: none;
}
header li{
  display: inline-block;
}



/*border: 1px solid red */

#contacts .row:nth-child(4) *{
    vertical-align: top;
}

#contacts label{
    display: inline-block;
    width: 150px;
    margin: 10px;
}

#contacts input,
#contacts textarea{
    width: 300px; 
}

#contacts .row:nth-child(5) input,
#contacts .row:nth-child(6) input{
    width: auto;
}
#contacts textarea{
    height: 150px;
}

/* макет */
nav a{
    padding: 5px 10px;
}

.container{
    width: 992px;
    margin: auto;
}

nav {
    text-align: right;
}

nav ul{
    display: inline-block;
}

header, #banner{
    margin: 0;
}

#banner {
    margin-top: -18px;
}

/*колонки inline:block, т.е. делаем их блочно-строчными*/
#catalog .items{
    font-size: 0;/*Т.к. между элементами div пробелы, которые считаются как 1 символ, то мы делаем размер шрифта этого символа 0, чтобы у нас все элементы влезли*/
    text-align: center; /*выравниваем по центру, даже если будет 5 элементов, то все равно встанут красиво*/
}

#catalog .item{
    vertical-align: top;
    font-size: 0.5rem; /*возвращаем размер шрифта*/
    width: 24%;/*делим 100% на количество элементов*/
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid gray;
    margin-left: 5px;
    height: 450px;
}

/*Картинка*/
#catalog img{
    width: 210px;
    height: 280px;


}

/*делаем ширину параграфа такую же, как у картинки, сначала смотрим ширину картинки*/
#catalog .item p{
    padding-left: 10px;
    text-align: left; /*выравнивание по ширине*/
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.price {
    font-size: 14px;
    color: red;
}


/*Первый символ в h3*/
#catalog h3::first-letter{
  font-size: 1.5rem;
  color: #aaa
}

h3{
    font-size: 12px;
}

h2{
    text-align: center;
}

